.logo{
    width:36px;
}
body{
    background: #f3f3f3;
}
.main{
    background: #fff;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
.img-circle{
    width:50px;
    top: 0px;
    left: -5px;
}
.page-title{
    text-align: center;
}

/* 搜索框 */
.navbar-default .navbar-form{
    padding-top: 15px;
    padding-bottom: 10px;
}

ul li{

}