{% extends 'base.html' %}

{% block title %}test{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block main %}
<div>
    <table data-pagination="true" data-side-pagination="client" data-page-size="10" >
            {% for video in videos.items %}
            <tr>
                <td><a href="{{video.link}}" style="color:pink; text-decoration:blink;">{{video.title}}</a></td>

            </tr>
            {% endfor %}
    </table>
    <table>
        <tr>
            <td>
                {% if videos.has_prev %}
                <a target="_self" href="{{ url_for('classroom', page = videos.prev_num) }}" style="color:blue;text-decoration:blink;"><<  </a>
                {% else %}
                <p style="color: black;text-decoration:blink;"><< </p>
                {% endif %}
            </td>
            <td>
                {% if videos.has_next %}
                <a target="_self" href="{{ url_for('classroom', page = videos.next_num) }}" style="color:blue;text-decoration:blink;">  >></a>
                {% else %}
                <p style="color: black;text-decoration:blink;"> >></p>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}