{% extends 'base.html' %}

{% block title %}反馈管理{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/question.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block main %}
    <ul>
        {% for feedback in feedbacks %}
        <li>
                <div class="avatar-group">
                    <img src="{{url_for('static',filename='images/time.jpg')}}" alt="" class="avatar">
                    <p><a href="{{url_for('user', user_id=feedback.author.id)}}">{{feedback.author.username}}</a></p>
                </div>
                <div class="question-group">
                    <p class="question-title"><a href="#">{{feedback.title}}</a></p>
                    <p class="question-content">{{feedback.reply}}</p>
                    <div class="question-info">
                        <span class="question-time">{{feedback.create_time}}</span>
                    </div>
                </div>
            {% if feedback.reply %}
            {% else %}
            <form action="" method="POST">
                <div class="form-group" style="width: 560px;">
                    <div class="form-group">
                        <input name="reply_content" type="text" class="form-control" placeholder="回复">
                        <input type="hidden" name="feedback_id" value="{{feedback.id}}">
                    </div>
                    <div class="form-group" style="text-align: right;">
                        <button class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}