{% extends 'base.html' %}

{% block title %}{{garbage_model.name}}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block main %}
    <ul>
        <li style="width:400px;margin: 0 auto;">
            <form class="navbar-form navbar-left" action="" method="post">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="保护环境人人有责" name="search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </li>
        <li>
            {{garbage_model.name}}是{{garbage_model.code_name}}
        </li>
    </ul>
{% endblock %}