{% extends 'base.html' %}

{% block title %}{{news_model.title}}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/detail.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block main %}
    <h3 class="page-title">{{news_model.title}}</h3>
    <p class="question-info">
        <span class="create_time">时间：{{news_model.date}}</span>
    </p>
    <hr>
    <p class="question-content">
        {{news_model.content}}
    </p>
    <hr>
{% endblock %}