{% extends 'base.html' %}

{% block title %}公告{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block notice_current %}<span class="sr-only">(current)</span>{% endblock %}

{% block main %}
    <ul>
        {% for notice in notices %}
            <li>
                <div class="avatar-group">
                    <img src="{{url_for('static',filename='images/time.jpg')}}" alt="" class="avatar">
                    <p>{{notice.author.username}}</p>
                </div>
                <div class="question-group">
                    <!--详细-->
                    <p class="question-title">{{notice.title}}</a></p>
                    <p class="question-content">{{notice.content}}</p>
                    <div class="question-info">
                        <span class="question-time">{{notice.create_time}}</span>
                        {% if flag==0 %}
                            <span><button type="submit" value="{{notice.id}}" name="notice_id">删除</button></span>
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}