{% extends 'base.html' %}

{% block title %}{{School}}排行榜{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/question.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block main %}

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">积分排行榜<li class="dropdown" style="overflow:visible">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">选择学校/单位 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for school in schools%}
                <li><a href="{{url_for('rank',school=school)}}">{{school}}</a></li>
                {% endfor %}
                <li><a href="{{url_for('rank',school='all')}}">全部</a></li>
              </ul>
            </li></div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>排名</th>
        <th>昵称</th>
        <th>学校/单位</th>
        <th>得分</th>
      </tr>
    </thead>
    <tbody>
    {% for i in range(num) %}
      <tr>
        <th scope="row">{{i+1}}</th>
        <th>{{users[i].username}}</th>
        <th>{{users[i].school}}</th>
        <th>{{users[i].score}}</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}