{% extends 'base.html' %}

{% block title %}test{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block main %}
    <ul>
        <form action="" method="post">
            <div>
                <h3 style="color:#D42121;">{{garbage.name}}</h3>
                <button type="submit" value="1" name="garbage" class="btn btn-default" aria-label="Left Align">A:可回收垃圾</button>
                <button type="submit" value="2" name="garbage" class="btn btn-default" aria-label="Left Align">B:有害垃圾</button>
                <button type="submit" value="3" name="garbage" class="btn btn-default" aria-label="Left Align">C:湿垃圾</button>
                <button type="submit" value="4" name="garbage" class="btn btn-default" aria-label="Left Align">D:干垃圾</button>
            </div>
            <button type="submit" value="1" name="next" class="btn btn-info dropdown-toggle" aria-haspopup="true" aria-expanded="false">下一题</button>
            {% if answer%}
                <p>{{answer}}</p>
            {% endif %}
        </form>
    </ul>
{% endblock %}