{% extends 'base.html' %}

{% block title %}test{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block main %}
    <ul>
        <form action="" method="post">
            <div>
                <li>{{garbage.name}}是什么垃圾</li>
                <button type="submit" value="1" name="garbage">A:干垃圾</button>
                <button type="submit" value="2" name="garbage">B:湿垃圾</button>
                <button type="submit" value="3" name="garbage">C:可回收垃圾</button>
                <button type="submit" value="4" name="garbage">D:有害垃圾</button>
            </div>
        </form>
    </ul>
{% endblock %}